.borderb {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.gradientelles {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(-90deg, #ab6ceb, #ffffff);
    z-index: -1;
}

#elles {
    width: 80%;
    margin: auto;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*flex-direction: column;
    align-items: center;*/
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 3rem;
    padding-top: 2rem;
}

    #elles * {
        color: #6E3589;
    }

    #elles p {
        /*margin-bottom: 4rem;*/
        /*text-align: center;*/
        /*width: 60%;*/
        font-weight: 400;
    }

    #elles h3 {
        font-size: 4rem;
        font-weight: 200;
        grid-column: 1 / 4;
        width: 80%;
    }

    h3.elle {
        font-size: 2.5rem;
    }

    #elles .elleyear {
        font-size: 2rem;
        font-weight: 200;
    }

    .profile {
        margin-bottom: 2rem;
    }
    #elles .izq {
        grid-column: 1 / 3;
    }

    #elles .der {
        grid-column: 2 / 4;
    }

    @media only screen and (max-width: 600px) {

        #elles {
            width: 80%;
        }
    
        #elles .elleyear {
            font-size: 1.5rem;
            font-weight: 200;
        }
    
        #elles .izq {
            grid-column: 1 / 4;
        }
    
        #elles .der {
            grid-column: 1 / 4;
        }
    
        h3.elle {
            font-size: 3rem !important;
        }

    }