/*#mainmenu .menuicon {
    font-size: 1.2rem;
    color: #6E3589;
}*/

.borderb {
    border-bottom: 1px solid rgb(0, 0, 0);
}


#nosotres {
    width: 80%;
    margin: auto;
}   
#nosotres * {
    color: #6E3589;
}

.gradientnosotres {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(-90deg, #6ec8e4, #ffffff);
    z-index: -1;
}

    .roles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2rem;
        border-top: 0.5px solid rgba(0, 0, 0, 0.5);
        padding: 1rem 0rem;
    }

    .role {
        font-weight: 400;
        margin-top: 1.5em;
        font-size: 1.2rem;
    }

    .roles div .role:first-child {
        margin-top: 0
    }

    .participante {
        font-weight: 600;
        font-size: 1.2rem;
    }

    footer .creditos {
        color: black;
    }

footer nav div:nth-child(2) {
    border-top: 1px solid rgb(0, 0, 0);
}

